@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');




/* html {
	box-sizing:border-box;
} */

*,*::before, *::after {
	box-sizing:inherit;
}

/* html,body {
	width:100%;
	height:100%;
} */

/* body {
	background-color: #dce1e5;
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	font-size: 14px;
	color:#cfd6e1;
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
} */

* {
	transition: .4s;
}

a {
	text-decoration: none;
}


.movie-card {
	background-image: url(http://digitalspyuk.cdnds.net/15/47/1600x800/landscape-1447754794-harrison-ford-blade-runner.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width:100%;
	/* max-width: 800px; */
	height: 300px;
	display: block;
	/* margin: 8vh auto; */
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}



.color-overlay {
	width:100%;
	height: 100%;
	border-radius: 8px;
	background: linear-gradient(to right, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	background-blend-mode: multiply;
}

h1,h2,h3 {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	font-weight: 400;
}

.movie-content {
	width: 40%;
	display: block;
	position:relative;
	float: right;
	padding-right: 1em;
}
	.movie-content .movie-title {
		color: #ffffff;
		margin-bottom: .25em;
		opacity: .75;
	}
	
	.movie-content .movie-info {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: .8em;
		color: #2a9fff;
		line-height: 1;
		margin: 0;
		font-weight: 700;
		opacity:.5;
	}
	
	.movie-content .movie-header {
		margin-bottom: 2em;
	}
	.movie-content .movie-desc {
		font-weight: 300;
	opacity: .84;
	margin-bottom: 2em;
	}


.btn {
	padding: .8em 2em;
	background-color: rgba(255,255,255,.2);
	color: rgba(255,255,255,1);
}

.btn-outline {
	background-color: transparent;
	border: 3px solid #ffffff;
}

.btn::before {
	font-family: 'Material Icons';
	content:'\e037';
	vertical-align: middle;
	font-size: 1.5em;
	padding-right:.5em;
}

.btn-outline:hover {
	border-color: #2a9fff;
	color: #2a9fff;
	box-shadow: 0px 1px 8px 0px rgba(245,199,0,.2);
}

.movie-share {
	padding: 1em;
	display: inline-block;
	width: 15%;
}

.movie-share__icon i {
	font-size: 1.2em;
	margin-left: .5em;
	color: #ffffff;
	mix-blend-mode: lighten;
	opacity: .4;
}

.movie-share__icon i:hover {
	opacity:1;
	mix-blend-mode: lighten;
}

@media (max-width:1000px) {
	.movie-content {
		width: 50%;
		max-width: 95%;
	}
}

@media (max-width:800px) {
	.movie-card {
		width: 95%;
		max-width: 95%;
	}
}

@media (max-width:600px) {
	.movie-card,.movie-card:nth-child(2),.movie-card:nth-child(3) {
		background-position:50% 0%;
		background-size: cover;
		height: 400px;
	}
	
	.color-overlay {
		background: linear-gradient(to bottom, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	}
	
	.movie-content {
		margin-top: 4.2em;
		width: 90%
	}
	
	.movie-share {
		display: block;
		width: 100%;
	}
}


.thumb {
	height:140px;
	width:210px;
	top:136px;
    left:12px;
    /* width:75%;
	max-width: 800px;
	height: 300px; */
	position:relative;
	background-size:contain;
	box-shadow:-12px 0 0 12px #000;
}
.thumb:last-of-type {
  box-shadow:0 0 0 12px #000;
}
.thumb:after {
  content:attr(title);
  font:normal normal 20pt 'impact';
  position:relative;
}
/* .thumb:hover {
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);
	filter: url(grayscale.svg#greyscale);
	filter: gray;
} */
/* @-webkit-keyframes TMNT {
	0%  { left: 0px; }
	100% { left: -1200px; }
} */
a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
	right:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
	height:100vh;
	position: relative;
}
.slide {
	position:absolute;
    width:75%;
	max-width: 800px;
	height: 300px;
}
.slider .slide:target {
	z-index: 100;
}
/* img {
	max-width:100%;
	width:100%;
	position:fixed;
	left:0;
} */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root{
  --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
 --lightblue: #3D9DEA;
 --darkblue: #4A4EEE;
 --text-color: #D5E1EF;
}


.wrapper{
  width:350px;
  border-radius: 40px;
  background-image: var(--bg-shape-color);
  overflow: hidden;
}
.overviewInfo, .productSpecifications {
  padding: 24px;
}
.overviewInfo{
  background-image:  linear-gradient(176deg, var(--lightblue), var(--darkblue));
}
.actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
  .actions .cartbutton{
    position:relative;
  }
  .actions .cartbutton::after {
      content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(90deg, #489be2, #0f629c);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 8px;
}
  
.actions .cartbutton svg {
    color: #ababab73;
}
.actions .backbutton, .cartbutton{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

.neurobutton{
  background-image: var(--bg-shape-color);
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255,255,255,0.1), 2px 2px 6px 3px rgba(0,0,0,0.4);
}

.productinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 200px;
    margin-bottom: 50px;
}

.productImage {
    position: absolute;
  
    width: 321px;
    height: auto;
    transform: rotate(-90deg) translate(-56px, 66px);
	transition: ease 2s all ;
  
}
 
	.productImage img { 
	width: 100%; 
	height: auto
}
.productImage:hover{
      transition: ease 2s all ;
    animation: none;
    transform: rotate(-70deg) translate( 10px, 66px);
}
 

h1{
  font-family: 'Michroma', sans-serif;
}

	.grouptext h3 {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
.grouptext p {
    font-size: 12px;
    opacity: 0.8;
  } 
  



/* product specifications */
.featureIcon{
  width: 40px;
  height: 40px;
  background-image: var(--bg-shape-color);
  border-radius: 8px; 
    margin-right: 16px;
}


	.productSpecifications h1{
    margin-top: 10px; 
    margin-bottom: 16px;
    font-size: 32px;
  }
  
  .productSpecifications p {
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.5;
}
  
.productSpecifications .productFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px; 
    grid-row-gap: 16px;
}
    .productSpecifications .productFeatures .feature{ display:flex;}
  



.checkoutButton {
    display: flex;
    width: 100%;
    background-image: var(--bg-shape-color);
    border-radius: 12px;
    overflow: hidden;
        box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1), 2px 2px 3px 0px rgba(12, 12, 12, 0.3), inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
    margin-top: 30px;
    padding: 14px;
  
    justify-content: space-between;
    align-items: center;
}

.priceTag {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.priceTag span {
    color: #488dc7;
    font-size: 20px;
}


/* checkout button*/
button.preorder {
    outline: 0;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(85deg, #61c7ef, #4833fb);
    color: white;
}

.preorder p {
    padding: 8px 17px;
    border-right: 1px solid rgba(0,0,0,0.4);
}

.buttonaction {
    border-left: 1px solid rgba(255,255,255,.2);
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.7);
}




/* animation */

@keyframes updowncontroller{
  0%  {
    transform: rotate(-90deg) translate(-56px, 66px);}
  80%, 100%{
    transform: rotate(-70deg) translate( 10px, 66px);}
}

